/* стили для index.html */

/* Сброс стилей  <h1>...<h6>, <p> и <ul> */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid green; */
}

/* tagline */

.tag-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.5)
    ),
    url("../images/bg-image.jpg");
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.tagline {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.tagline .title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .list {
  display: flex;
}

.features .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.icon-antena::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  background-image: url("../images/antenna.svg");
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

.icon-clock::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  background-image: url("../images/clock.svg");
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

.icon-vector::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  background-image: url("../images/Vector.svg");
  background-position: center;
  background-size: 70px 54px;
  background-repeat: no-repeat;
}

.icon-astronaut::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  background-image: url("../images/astronaut.svg");
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

.features .spec {
  width: 270px;
}

.spec + .spec {
  margin-left: 30px;
}

/* activity */

.activity {
  padding-bottom: 94px;
}

.activity .list {
  display: flex;
}

.example + .example {
  margin-left: 30px;
}

.activity .title,
.team .title,
.clients .title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

/* team */

.social {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
}

.inst {
  content: "";
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/instagram.svg");
}

.twitt {
  content: "";
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/twitter.svg");
}

.face {
  content: "";
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/facebook.svg");
}

.linkedin {
  content: "";
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/linkedin.svg");
}

.team .list {
  display: flex;
  justify-content: center;
}

.cards {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid#FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cards + .cards {
  margin-left: 30px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.employee {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.profession {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

/* button */

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button-primary {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.button-primary:hover,
.button-primary:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}

/* ---- clients ---- */

.clients .title {
  padding-top: 94px;
}

.clients .brand {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.lab-one {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(5\)\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lab-two {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(6\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lab-three {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(1\)\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lab-four {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(2\)\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lab-five {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(3\)\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

.lab-six {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: inline-block;
  content: "";
  width: 170px;
  height: 92px;
  background-image: url("../images/group\ \(4\)\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Стили для portfolio.html */

.portfolio {
  padding: 94px 0;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

/* filters */

.titles {
  padding: 20px 24px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.btn + .btn {
  margin-left: 8px;
}

.projects {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  min-height: 404px;
  border: 0.5px solid #eeeeee;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
